<main class="container">
<h1><span class="logo">!#@</span> indexa</h1>
<p>Eventos estratégicos</p>

<h1>Desenvolvemos soluções tecnológicas para eventos</h1>
<p>Vamos te ajudar a produzir seu evento de forma simplicaficada através dos serviços:</p>
<ul>
  <li>Desenvolvimento de site</li>
  <li>E-mail marketing</li>
  <li>Solução de pagamento para ingressos</li>
  <li>Gestão de participantes</li>
  <li>Geração de certificados</li>
  <li>Geração de crachá para credenciamento</li>
  <li>Desenvolvimento de marca e identidade visual</li>
  <li>Conteúdo para redes sociais</li>
</ul>

</main>
